*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
*:focus {outline: none !important;}
html {height: 100%; min-width: 970px;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; line-height: 20px;
    width: 100%;
    height: 100%;
    background: #edf1f7;
    position: relative;
    padding-top: 60px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%; padding-bottom: 70px;
}

a {color: #45b1f9;}
a:hover {color: #ff6784; text-decoration: none;}
a:focus {text-decoration: none;}

.container {max-width: 1280px; min-width: 970px;}

/* Header ///////////////////////////////////////////////////////////////////////*/

.header {background: #474e5f; position: fixed; top: 0; left: 0; right: 0; z-index: 9; height: 60px;}
.header .container {max-width: 100%; width: 100%;}
.header .row {padding: 0 15px;}
.header a:hover,
.header a:active,
.header a:focus {text-decoration: none;}
.header .btns {line-height: 60px; margin-right: -17px;}
.header .btn {margin: 0 5px;}
.header .btn .badge {position: absolute; top: 0; left: 0;}
.header .btn-link {color: #969cae;}
.header .btn-link:hover {color: #ff6784;}

.logo {font-size: 24px; color: #fff; display: inline-block; line-height: 60px;}
.logo:hover {color: #fff;}
.logo span {color: #45b1f9;}


/* Content //////////////////////////////////////////////////////////////////////*/

h1 {font-size: 30px; color: #474e5f;}
h2 {font-size: 28px; font-weight: bold; margin-top: 35px; margin-bottom: 25px;}
h3 {font-size: 18px; font-weight: bold;}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #e8eaef;
    font-size: 15px; color: #474e5f;
}

.table-hover>tbody>tr:hover {background-color: #e6f5ff;}

.content {
    background: #fff;/* padding-bottom: 70px; */max-width: 1170px; min-width: 970px;
    margin: 0 auto;
}

form {}
label {color: #80868e; font-weight: normal;}
.form-control {border-radius: 0; color: #474e5f;}

/* page caption */

.content .page-caption {padding: 5px 0 26px; border-bottom: 5px solid #e8eaef;}
.content .page-caption .info {color: #acb5bf; font-size: 13px; margin-left: 15px;}
.content .page-caption .title {margin: 20px 30px 8px 15px; font-size: 30px; color: #474e5f; line-height: 33px;}
.content .page-caption .subtitle {margin: 0 0 8px 15px; font-size: 24px; color: #474e5f;}
.content .page-caption .label {vertical-align: middle; font-weight: normal;}
.content .page-caption .btns {vertical-align: middle; line-height: 33px; margin: 20px 15px 8px 0;}

.page-caption .evaluation {line-height: 33px; margin: 20px 0 8px;}
.page-caption .evaluation .dot {
    display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-right: 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #333;
}
.page-caption .evaluation .value {position: relative; color: #545d6a; font-weight: 500; font-size: 30px; vertical-align: middle;}
.page-caption .evaluation .value sup {font-weight: bold; font-size: 15px; display: inline-block; vertical-align: top; line-height: 18px; top: 0;}
.page-caption .evaluation .value sub {font-size: 15px; display: inline-block; vertical-align: bottom; line-height: 18px; bottom: 0; left: -32px;}
.page-caption .evaluation .text {line-height: 18px; vertical-align: bottom; left: -30px; position: relative;}

.page-caption .evaluation.good .dot {background: #5dd963;}
.page-caption .evaluation.good .text {color: #5dca76;}

.page-caption .evaluation.normal .dot {background: #f7b94a;}
.page-caption .evaluation.normal .text {color: #f7b94a;}

.page-caption .evaluation.bad .dot {background: #ff5277;}
.page-caption .evaluation.bad .text {color: #ff5277;}


/* task page */

.button-bar {background: #e8eaef; padding: 9px 30px 14px;}

.task-description {margin-bottom: 56px;}
.task-description .description-item {
    border-left: 2px solid #8fa7cc; margin-bottom: 2px; position: relative; font-size: 15px; min-height: 186px;
}
.task-description .description-item:after {
    display: block; height: 0; border-bottom: 1px solid #e8eaef; content: ' ';
    position: absolute; bottom: 0; left: 29px; right: 29px;
}
.task-description .description-item .col-left,
.task-description .description-item .col-right {
    display: table-cell; padding-top: 30px; padding-bottom: 40px;
}
.task-description .description-item .col-left {padding-left: 27px;padding-right: 15px; width: 170px;}
.task-description .description-item .col-right {padding-right: 27px;padding-left: 15px;}
.task-description .description-item .datetime {font-size: 13px; color: #acb5bf; padding-left: 17px; position: relative;}
.task-description .description-item .datetime span {margin-left: 6px;}
.task-description .description-item.new .datetime:before {
    display: block;
    width: 12px;
    height: 12px;
    background: url("../img/icons20.png") no-repeat -4px -164px;
    content: ' ';
    position: absolute;
    top: 3px;
    left: 0;
}


.task-description .description-item .task-author {color: #80868e;}
.task-description .description-item .task-mess {color: #474e5f; margin: 11px 0;}
.task-description .description-item .task-obj {}
.task-description .description-item .notice {color: #acb5bf; font-size: 13px; position: absolute; bottom: 15px;}

.task-description .description-item.your-reply {border-left: 2px solid #d9dbe0;}
.task-description .description-item.new {border-left: 1px solid #58d760;}
.task-description .description-item.new .task-author,
.task-description .description-item.new .task-mess {font-weight: bold;}


.new-mess {
    padding: 30px 30px 0; display: none;
    -moz-box-shadow: 0 20px 50px -10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 20px 50px -10px rgba(0,0,0,0.3);
    box-shadow: 0 20px 50px -10px rgba(0,0,0,0.3);
}
.new-mess .textarea-scrollbar {height: 206px; width: 100%; border: 1px solid #d9dbe0;}
.new-mess .textarea-scrollbar textarea {border: 0;}

.new-mess .scrollbar-outer > .scroll-content.scroll-scrolly_visible {left: 0; margin-left: 0; margin-right: 30px !important;}
.new-mess .scrollbar-outer > .scroll-element.scroll-y {}
.new-mess .add-file {padding: 10px 0;}
.new-mess .t-footer {background: #e8eaef; padding: 13px 30px; height: 60px; margin: 0 -30px 0}

/* hotel page */

.tab-title {color: #474e5f; font-size: 24px; padding-bottom: 20px; border-bottom: 1px solid #e8eaef}
.categories-list {}
.categories-list li {height: 50px; line-height: 50px; border-bottom: 1px solid #e8eaef;}
.tab-wrapper .form-group {padding: 40px 0; border-bottom: 1px solid #e8eaef; margin: 0; position: relative;}
.tab-wrapper .form-group:last-of-type {border-bottom: 0;}
.tab-wrapper .f-footer {padding: 40px 30px 0; border-top: 1px solid #e8eaef; margin: -1px -30px 0;}

.description-wrapper {}
.description-wrapper label {margin-bottom: 6px;}

.description-wrapper .form-group.title input {width: 345px;}
.description-wrapper .form-group .checkbox {margin: 0;}
.description-wrapper .form-group .phone {margin-left: 23px;}
.description-wrapper .form-group .phone label {display: block;}
.description-wrapper .form-group .phone input {width: 160px; display: inline-block;}
.description-wrapper .form-group .phone .btn {margin-bottom: 2px;}
.description-wrapper .scroll-wrapper {border: 1px solid #d9dbe0;}
.description-wrapper .textarea-scrollbar {width: 735px; height: 340px;}
.description-wrapper .textarea-scrollbar textarea {border: 0; padding: 20px;}
.description-wrapper .d-footer {padding: 40px 0;}

.block {}
.block .block-title {color: #474e5f; font-weight: bold; margin-bottom: 12px;}
.block .text-muted {color: #acb5bf; font-weight: normal; font-size: 13px; margin-left: 20px;}

.block.select-hour {width: 460px;}
.block.select-hour:first-child {margin-bottom: 40px;}
.block.select-hour .check-in,
.block.select-hour .check-out {width: 166px; float: left;}
.block.select-hour .check-out {float: right;}
.block.select-hour .sbHolder {width: 77px; display: inline-block; vertical-align: middle;}
.block.select-hour .sbHolder:first-of-type {margin-right: 6px;}
.block.select-hour.range .check-in,
.block.select-hour.range .check-out {width: 200px;}
.block.select-hour.range .check-in label,
.block.select-hour.range .check-out label {margin-right: 10px;}

.block .new-rules {margin-left: 23px;}
.block .new-rules .form-control {width: 325px; display: inline-block; vertical-align: middle;}
.block .min-reserv .sbHolder {width: 77px; display: inline-block; vertical-align: middle; margin-right: 5px;}
.block .radio-inline {padding-left: 0; width: 280px; cursor: default;}
.block .commission-wrapper {margin-right: 23px; margin-top: 15px;}
.block .commission-wrapper .form-control {width: 77px; display: inline-block; vertical-align: middle; margin-right: 5px;}
.block .first-row {margin-bottom: 20px;}

.requisites-wrapper {padding-top: 40px;}
.requisites-wrapper .form-group {padding: 0 0 40px; border-bottom: 0;}
.requisites-wrapper .custom-select {width: 240px;}
.requisites-wrapper .help-block {font-size: 13px; line-height: 16px; margin-top: 25px; color: #acb5bf;}
.requisites-wrapper .twofield > div {padding: 0;}


.form-group.error .form-control {border-color: #ff6784;}
.form-group.error .error {color: #ff6784; font-size: 13px; position: absolute; left: 100%; top: 33px; width: 100%; margin-left: 20px;}
.form-group.error .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,103,132,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,103,132,.6);
}

.form-group .custom-textarea {margin-top: 20px;}
.form-group .custom-textarea .textarea-scrollbar {width: 730px; height: 240px; border: 1px solid #d9dbe0;}
.form-group .custom-textarea .textarea-scrollbar textarea {border: 0;}
.form-group.phone.reserv .form-control {width: 165px; display: inline-block;}
.form-group.phone.reserv label {display: block;}

/* docs */

.docs-wrapper {}
.docs-wrapper .tab-wrapper {}
.docs-wrapper .tab-wrapper .nav-tabs {padding: 0; border-bottom: 0; margin-left: 1px}
.docs-wrapper .tab-wrapper .nav-tabs > li {padding: 0; border: 1px solid #d9dbe0;     margin-left: -1px;}
.docs-wrapper .tab-wrapper .nav-tabs > li > a {
    margin-right: 0;
    color: #545d6a;
    line-height: 1.42857143;
    border: 0 !important;
    padding: 5px 14px;
}
.docs-wrapper .tab-wrapper .nav-tabs > li[role="presentation"]:hover > a,
.docs-wrapper .tab-wrapper .nav-tabs > li[role="presentation"].active > a {background: #e6f5ff !important;}
.docs-wrapper .tab-wrapper .nav-tabs > li:first-child{
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.docs-wrapper .tab-wrapper .nav-tabs > li:last-child{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;;
}
.docs-wrapper .tab-wrapper .nav-tabs > li.period {}
.docs-wrapper .tab-wrapper .nav-tabs > li.period > a:focus,
.docs-wrapper .tab-wrapper .nav-tabs > li.period:hover > a {background: #fff; color: #45b1f9;}
.docs-wrapper .tab-wrapper .tab-content {padding: 30px 0;}
.docs-wrapper .choose-period {
    width: 344px; border: 1px solid #dee0e5; margin-top: 0; padding: 30px 20px 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.docs-wrapper .choose-period .col-md-3:first-child {padding-right: 0;}
.docs-wrapper .choose-period .col-md-5 {padding-right: 0;}
.docs-wrapper .choose-period .row {margin-bottom: 20px;}


/* edit category */

.equipment {}
.equipment .column-wrapper {float: left; width: 375px;}

.edit-category {}
.edit-category .price-row {margin-bottom: 15px;}
.edit-category .price-row > * {display: inline-block;}
.edit-category .price-row .form-control {width: 80px; margin: 0 10px 0 50px;}
.edit-category .price-row label {width: 70px;}
.edit-category .price-row span {color: #474e5f;}

/* add photo */

.add-photo {min-height: 140px; position: relative;}
.add-photo .custom-file {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    z-index: 1;
    opacity: 0;
    position: absolute; width: 100%; height: 100%;
}
.add-photo .title {font-size: 24px; color: #000; margin-bottom: 20px;}
.add-photo .result {}
.add-photo .result .items {margin: 0; padding: 0; display: inline-block;}
.add-photo .result .item {
    position: relative;
    float: left; padding-left: 0;
    margin: 0 9px 9px 0;
    width: 212px; height: 140px; overflow: hidden;
    /*border: 1px solid #e7e7e7;*/
}
.add-photo .result .item:nth-child(5n) {margin-right: 0;}
.add-photo .result li:before {display: none;}
.add-photo .result .item a {display: block; overflow: hidden; text-align: center;}
.add-photo .result .item img {height: 100%; width: 100%;}
.add-photo .result .item a.del {
    z-index: 999; position: absolute; top: 9px; right: -9px; display: block; padding: 0;
    width: 20px; height: 20px; background: url("../pic/icons.png") no-repeat 0 -560px;
}
.add-photo .file-select {
    display: block; z-index: 0; width: 100%; height: 140px;
    background: #edf1f6 url("../img/largeImg.png") no-repeat 50% 60px;
    text-align: center; vertical-align: top;
    padding: 30px; text-decoration: none; position: relative;
}

/* slideout menu */

.pushmenu {background: #fff; width: 450px; height: 100%; top: 0; z-index: 1000; position:fixed;}
.pushmenu .panel-header {border-bottom: 1px solid #e8eaef; font-size: 24px; color: #474e5f;padding: 40px 30px 20px; position: relative;}
.pushmenu .panel-header .close {position: absolute; top: 16px; right: 16px;}
.pushmenu-right {right: -450px;}
.pushmenu-right.pushmenu-open {right: 0;}
.pushmenu-push {overflow-x: hidden; position: relative; right: 0;}
.pushmenu-push-toright {right: 450px;}
.pushmenu-push-toright .header {right: 450px; left: -450px;}

.pushmenu-push-toright .wrapper:before{
    display: block; background: rgba(71, 78, 95, 0.3); z-index: 99;
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; content: ' ';
}
.pushmenu, .pushmenu-push, .pushmenu-push .header {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* label */

.label {font-size: 13px; color: #fff; padding: 5px 7px;}

.label-default {}
.label-primary {}
.label-success {color: #5dca76; background: #caffcb;}
.label-info {}
.label-warning {}
.label-danger {}

.badge {
    display: inline-block;
    width: 20px; height: 20px;
    padding: 0;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ff5277;
    border-radius: 10px;
}

/* icons */

.icn {display: inline-block; vertical-align: top;}
.icn20 {width: 20px; height: 20px; background: url("../img/icons20.png") no-repeat;}

.icn-plus {background-position: 0 0;}
.icn-plus-grey {background-position: -20px 0;}
.icn-alert {background-position: 0 -80px;}
.icn-ok {background-position: 0 -60px;}
.icn-close {background-position: 0 -100px;}
.icn-remove {background-position: 0 -20px;}
.icn-down {background-position: 0 -140px;}
.icn-reply {background-position: 0 -180px;}
.icn-toright {background-position: 0 -200px;}
.icn-edit {background-position: 0 -40px;}

*:hover > .icn-alert {background-position: -20px -80px;}
*:hover > .icn-ok {background-position: -20px -60px;}
*:hover > .icn-close {background-position: -20px -100px;}
*:hover > .icn-remove {background-position: -20px -20px;}
*:hover > .icn-reply {background-position: -20px -180px;}
*:hover > .icn-toright {background-position: -20px -200px;}
*:hover > .icn-edit {background-position: -20px -40px;}

.btn-primary > .icn-ok,
.btn-success > .icn-ok {background-position: -40px -60px;}

/* btn */

.btn {
    font-size: 15px; height: 38px; border: 2px solid; border-color: transparent !important; color: #fff;
    position: relative; box-shadow: none !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn:hover,
.btn:focus {color: #fff;}

.btn-small {font-size: 13px; height: 32px; line-height: 20px; padding: 4px 12px;}

.btn-default {background: #fff; border-color: #d9dbe0 !important; color: #474e5f;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {background: #fff; color: #474e5f;}

.btn-primary {background: #45b1f9; color: #fff;}
.btn-primary:hover {background: #5dbeff;}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:hover:focus {background: #56a4d8;}

.btn-success {background: #5dd963; color: #fff}
.btn-success:hover {background: #83de76;}
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus {background: #59be5e;}

.btn-info {}
.btn-warning {}
.btn-danger {background: #e45d73;}
.btn-ghost {background: transparent;}
.btn-link {background: transparent;}

/* messages */

.message {
    display: none; line-height: 38px;
    position: absolute; z-index: 999;
    top:0; left: 0; right: 0; padding: 13px 0;
}
.message.payment {background: #ffd963; color: #000;}
.message.success {background: #63c673; color: #fff; text-align: center;}
.message.error {background: #ff6665; color: #fff; text-align: center;}

.message .btn-border {background: transparent; color: #000; border: 1px solid #bf8b4e;}

/* dropdown */

.export .dropdown .btn {border-width: 1px; padding: 0 6px 0 20px; height: 34px; font-size: 13px;}
.export .dropdown .btn > span {border-right: 1px solid #d9dbe0; padding: 8px 8px 10px 0; margin-right: 4px;}

.export .open > .dropdown-toggle.btn-default:focus,
.export .open > .dropdown-toggle.btn-default:hover {
    color: #474e5f;
    background-color: #fff;
    border-color: #d9dbe0;
}
.export .open > .btn {
    -webkit-border-radius: 3px 3px 0 0 ;
    -moz-border-radius: 3px 3px 0 0 ;
    border-radius: 3px 3px 0 0 ;
}
.export .dropdown-menu {
    margin: -1px 0 0; border-radius: 0; border: 1px solid #d9dbe0; min-width: 115px; padding: 0; font-size: 13px;
}
.export .dropdown-menu>li {border-top: 1px solid #d9dbe0;}
.export .dropdown-menu>li:first-child {border-top: 0;}
.export .dropdown-menu>li>a {padding: 9px 20px;color: #474e5f;}
.export .dropdown-menu>li>a:focus,
.export .dropdown-menu>li>a:hover {
    color: #474e5f;
    text-decoration: none;
    background-color: #e6f5ff;
}

.button-bar .dropdown  {height: 32px; display: inline-block;}
.button-bar .dropdown .btn {padding: 4px 6px 4px 10px;}
.button-bar .dropdown .btn > span {border-right: 2px solid #d9dbe0; padding: 7px 8px 7px 0; margin: 0 4px;}

.button-bar .dropdown-menu {
    margin: -1px 0 0; border-radius: 0; border: 1px solid #d9dbe0; min-width: 100%; padding: 0; font-size: 13px;
}

.button-bar .dropdown-menu>li {border-top: 1px solid #d9dbe0;}
.button-bar .dropdown-menu>li:first-child {border-top: 0;}
.button-bar .dropdown-menu>li>a {padding: 9px 20px;color: #474e5f;}
.button-bar .dropdown-menu>li>a:focus,
.button-bar .dropdown-menu>li>a:hover {
    color: #474e5f;
    text-decoration: none;
    background-color: #e6f5ff;
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover  {background: #fff;}

/* tabs */

.tab-wrapper {padding-top: 20px;}
.tab-wrapper .nav-tabs {padding: 0 30px; border-bottom: 1px solid #e8eaef;}
.tab-wrapper .nav-tabs > li > a {
    margin-right: 0; color: #545d6a;
    line-height: 1.42857143;
    border-width: 0 0 3px 0;
    border-radius: 0;
    padding: 10px 0;
}

.tab-wrapper .nav-tabs > li {padding: 0 15px;}
.tab-wrapper .nav-tabs > li:first-child {padding-left: 0;}
.tab-wrapper .nav-tabs > li:last-child {padding-right: 0;}
.tab-wrapper .nav-tabs > li.active> a,
.tab-wrapper .nav-tabs > li.active> a:focus,
.tab-wrapper .nav-tabs > li.active> a:hover,
.tab-wrapper .nav-tabs > li > a:hover {
    color: #545d6a;
    background-color: #fff;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-bottom-color: #45b1f9;
    cursor: pointer;
}

.tab-wrapper .tab-content {padding: 30px;}

/* Custom select */
.export {float: right; width: 115px; margin-right: 30px;}

/* tickets */

.tickets {}
.tickets > tbody > tr > td {vertical-align: middle;}
.tickets .ticket-num {padding-left: 17px; position: relative;}
.tickets .status {color: #acb5bf; font-size: 13px;}

.tickets .new {}
.tickets .new .ticket-num,
.tickets .new .ticket-link {font-weight: bold;}

.tickets .new .ticket-num:before {
    display: block; width: 12px; height: 12px; background: url("../img/icons20.png") no-repeat -4px -164px;
    content: ' '; position: absolute; top: 3px; left: 0;
}

.new-ticket {
    background: #fff; width: 470px; display: none;
    -moz-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    position: fixed;
    bottom: 2px;
    right: 0;
}
.new-ticket .t-header {background: #474e5f; padding: 0 20px; font-size: 18px; color: #fff; height: 50px; line-height: 50px;}
.new-ticket .t-footer {background: #e8eaef; padding: 13px 20px; height: 60px;}

.btn-close {width: 50px; height: 50px; text-align: center; line-height: 50px;}
.btn-close .icn {vertical-align: middle;}


.task-counter {
    font-weight: bold; color: #474e5f; margin-top: 23px; margin-right: 15px; font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 3px;
    border-radius: 2px;
    border: 2px solid #d9dbe0; display: table;
}
.task-counter > div {display: table-cell; padding: 4px 9px;}
.task-counter .text {position: relative; padding-left: 26px; border-right: 2px solid #d9dbe0;}
.task-counter .text:before {
    display: block; width: 12px; height: 12px; background: url("../img/icons20.png") no-repeat -4px -164px;
    content: ' '; position: absolute; top: 8px; left: 9px;
}


/* circle animation */


/* Custom checkbox */

/* Base for label styling */

.checkbox label,
.radio label {color: #474e5f;}

.checkbox, .radio {margin-bottom: 15px;}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute !important;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: ' ';
    position: absolute;
    left:0; top: 2px;
    width: 16px; height: 16px;
    border: 1px solid #d9dbe0;
    background: #fff;
    border-radius: 1px;
}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 4px; left: 4px; width: 16px; height: 16px;
    transition: all .2s;
    display: block; background: url("../img/check.png") no-repeat;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

label:hover:before {
    border: 1px solid #4778d9!important;
}
*/
/*///////////////////////////////////////////////////////////////////////*/

/* Custom radio */

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute !important;
    left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: ' ';
    position: absolute;
    left:0; top: 2px;
    width: 16px; height: 16px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 6px; left: 4px; width: 8px; height: 8px;
    transition: all .2s;
    display: block;
    background: #5dca76;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}

/*label:hover:before {
    border: 1px solid #4778d9!important;
}*/

/* material input */
.material {margin-bottom: 0;}
.material .custom-input {position: relative;}
.material .custom-input label {
    color:#757575;
    font-size: 15px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 20px;
    top: 15px;
    transition:0.2s ease all;
}

.material .custom-input input,
.material .custom-input textarea {
    padding: 20px 20px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8eaef;
    background: transparent; color: #474e5f;
}

.material .custom-input input {height: 50px; position: relative; z-index: 9; font-weight: bold;}
.material .custom-input textarea {
    overflow: auto; box-shadow: none;
    resize: none;
    height: 168px;
    border-bottom:1px solid #e8eaef;
}
.material .custom-input input:focus,
.material .custom-input textarea:focus { outline:none; }

.material .custom-input .bar {position:relative; display:block; width: 100%; }
.material .custom-input .bar:before,
.material .custom-input .bar:after 	{
    content:' '; height:2px; width:0; bottom:1px; position: absolute;
    background: #474e5f; transition:0.2s ease all;
}
.material .custom-input .bar:before {left:50%;}
.material .custom-input .bar:after {right:50%;}

.material .custom-input input:focus ~ label,
.material .custom-input input.used ~ label,
.material .custom-input textarea:focus ~ label,
.material .custom-input textarea.used ~ label  {
    top: 0;
    font-size: 12px;
    color: #757575;
    z-index: 9;
}

.material .custom-input input:focus ~ .bar:before,
.material .custom-input input:focus ~ .bar:after,
.material .custom-input textarea:focus ~ .bar:before,
.material .custom-input textarea:focus ~ .bar:after {width:50%;}

.new-ticket .custom-scroll {height: 168px;}


/* custom textarea scrollbar */

.textarea-scrollbar {
    height: 168px;
    width: 470px;
}

/* autocomplete */

.ui-autocomplete {
    border-radius: 0 !important; border: 1px solid #dee0e5;
    -moz-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
}
.ui-autocomplete.ui-menu .ui-menu-item {padding: 13px 18px;}
.ui-autocomplete.ui-menu .ui-menu-item:hover {background: #edf1f7;}
.ui-autocomplete.ui-menu .ui-menu-item a {border: none; background: transparent; margin: 0;}

/* custom input file */

.add-file {padding: 20px;}
.add-file .custom-file {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    z-index: 0;
    opacity: 0;
    position: absolute; width: 0; height: 0;
}
.add-file .result {display: inline-block; float: left;}
.add-file .file-select,
.add-file .file-item {
    width: auto; height: 34px; vertical-align: top; margin: 0 0 9px 0;
    border: 2px dotted #e7e7e7; color: #b6b6b6; text-decoration: none; position: relative; float: left;
    z-index: 99; display: inline-block; padding: 5px 10px 5px 5px;
}
.add-file .file-item {margin-right: 9px;}


/* Footer */

.footer {height: 70px; margin-top: -70px; width: 100%;}
.footer .container {line-height: 70px;}
.footer .container p {color: #acb5bf; font-size: 15px; margin-bottom: 0; padding-left: 15px;}





















