@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/HelveticaNeueCyr/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
*:focus {outline: none !important;}
html {height: 100%; min-width: 970px;}

body {
    font: 15px/20px 'helveticaneuecyrroman', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background: #edf1f7;
    position: relative;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-top: 60px;
}

a {color: #45b1f9;}
a:hover {color: #ff6784; text-decoration: none;}
a:focus {text-decoration: none;}

.container {max-width: 1280px; min-width: 970px;}

/* Header ///////////////////////////////////////////////////////////////////////*/

.header {background: #474e5f; position: fixed; top: 0; left: 0; right: 0; z-index: 9;}
.header .row {padding: 0 15px;}
.header a:hover,
.header a:active,
.header a:focus {text-decoration: none;}
.header .btns {line-height: 60px; margin-right: -17px;}
.header .btn {margin: 0 5px;}
.header .btn .badge {position: absolute; top: 0; left: 0;}
.header .btn-link {color: #969cae;}
.header .btn-link:hover {color: #ff6784;}

.logo {font-size: 24px; color: #fff; font-family: 'helveticaneuecyrmedium'; display: inline-block; line-height: 60px;}
.logo:hover {color: #fff;}
.logo span {color: #45b1f9;}

/* Main */

h1 {font-size: 30px; color: #474e5f;}
h2 {font-size: 28px; font-weight: bold; margin-top: 35px; margin-bottom: 25px;}
h3 {font-size: 18px; font-weight: bold;}

.content {
    background: #fff; padding-bottom: 70px; max-width: 1170px; min-width: 970px;
    margin: 0 auto;
}

.content .page-caption {padding: 5px 13px 26px; border-bottom: 5px solid #e8eaef;}
.content .page-caption .info {color: #acb5bf; font-size: 13px;}
.content .page-caption h1 {margin-bottom: 8px;}
.content .page-caption .title {margin: 0 15px;}
.content .page-caption .label {vertical-align: middle;}
.content .page-caption .btns {vertical-align: middle; line-height: 33px; margin: 20px 15px 8px 0;}


/* label */

.label {font-size: 13px; color: #fff; padding: 5px 7px;}

.label-default {}
.label-primary {}
.label-success {color: #5dca76; background: #caffcb;}
.label-info {}
.label-warning {}
.label-danger {}

.badge {
    display: inline-block;
    width: 20px; height: 20px;
    padding: 0;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ff5277;
    border-radius: 10px;
}

/* icons */

.icn {display: inline-block; vertical-align: top;}
.icn20 {width: 20px; height: 20px; background: url("../img/icons20.png") no-repeat;}

.icn-plus {background-position: 0 0;}
.icn-alert {background-position: 0 -80px;}
*:hover > .icn-alert {background-position: -20px -80px;}

/* btn */

.btn {
    font-size: 15px; height: 38px; border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: transparent !important; color: #fff;
    position: relative;
}
.btn:hover,
.btn:focus {color: #fff;}

.btn-small {font-size: 13px; height: 32px; line-height: 20px; padding: 4px 12px;}

.btn-default {background: #fff; border-color: #d9dbe0 !important; color: #474e5f;}
.btn-default:hover {border-color: #c3c5c9;}

.btn-primary {background: #45b1f9; color: #fff;}
.btn-primary:hover {background: #5dbeff;}
.btn-primary:focus {background: #56a4d8;}

.btn-success {background: #5dca76;}
.btn-info {}
.btn-warning {}
.btn-danger {background: #e45d73;}
.btn-ghost {background: transparent;}
.btn-link {background: transparent;}

/* Custom checkbox */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute !important;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: ' ';
    position: absolute;
    left:0; top: 2px;
    width: 18px; height: 18px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-radius: 1px;
}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 6px; left: 2px; width: 18px; height: 18px;
    transition: all .2s;
    display: block; background: url("../img/check.png") no-repeat;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid #4778d9!important;
}
/*///////////////////////////////////////////////////////////////////////*/

/* Custom radio */

/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute !important;
    left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: ' ';
    position: absolute;
    left:0; top: 2px;
    width: 18px; height: 18px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
/* checked mark aspect */

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 8px; left: 6px; width: 6px; height: 6px;
    transition: all .2s;
    display: block;
    background: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid #4778d9!important;
}



/* Footer */

.footer {height: 70px; margin-top: -70px; width: 100%;}
.footer .container {line-height: 70px;}
.footer .container p {color: #acb5bf; font-size: 15px; margin-bottom: 0; padding-left: 15px;}





















