@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$backgroundColor: #fff;
$textColor: #333;
$headerLinkColor: $backgroundColor;
$font-family-primary: 'Roboto Condensed', sans-serif;
$fs: 18px; // font-size
$fl: lighter; // font-weight: lighter
$fb: bold; // font-weight: bold

$baseLineHeight: 1.2;
$navbar-height: auto;
$navbar-lineHeight: 50px


