/*
 html, css & js - Vladimir Glushkov
 http://fenrirheimr.ru/

 Ну и наговнокодил я тут...
 TODO: Надо будет потом во время работы над адаптивом почистить как следует
*/

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	height: 100%;
	padding: 0 !important;
}
/*.wrapper {*/
	/*margin: 0 auto;*/
	/*min-height: 100%;*/
	/*height: auto !important;*/
	/*height: 100%;*/
/*}*/

/* костыль */
/*section > .container > .row > div {padding: 0}*/

/*body {background: black;}
section {background: red;}
.container {background: green;}*/

a {text-decoration: underline; outline: 0 !important;}
a:hover,
a:focus {text-decoration: none;}

.m-link {border-bottom: 1px dashed; text-decoration: none;}
.m-link:hover {border-bottom-color: transparent;}

.r0 {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.r4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.r5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-1-5 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}
/* Forms
-----------------------------------------------------------------------------*/
label {font-size: 16px;}

form {padding: 25px 35px 44px; position: relative;}

.form-control {
	padding: 10px 20px; line-height: 27px; border: none; height: 41px;
	-webkit-box-shadow: none; box-shadow: none; font-size: 16px; color: #25232b;
}
.form-control:focus {-webkit-box-shadow: none; box-shadow: none;}

textarea.form-control {line-height: 18px; min-height: 70px;}

.btn {
	font-family: 'Russo One', sans-serif; padding: 6px 29px;
	font-size: 13px; text-transform: uppercase; text-decoration: none; line-height: 27px;
}
.btn-red {color: #fff; background: #aa2421;}
.btn-red:hover {color: #fff;}

.btn-blue {color: #fff; background: #2576aa;}
.btn-blue:hover {color: #fff;}

.btn-yellow {color: #25232b; background: #f8c100 url("../img/btn-lines.png") no-repeat 0 0; text-shadow: 0 -1px 0 rgba(251, 236, 182, 0.75);}
.btn-yellow:hover {color: #25232b;}

.btn-link {text-decoration: underline;}
.btn-link:hover {text-decoration: none;}

.btn-blue-border {color: #2576aa; border: 2px solid #2576aa; background: #fff;}
.btn-blue-border:hover {color: #fff; background: #2576aa;}

/* Header
-----------------------------------------------------------------------------*/

/*.header > .container > .row > div {padding: 0}*/
/*.header > nav > .container > .row > div {padding: 0 15px 0 0;}*/

.header {height: 142px; background: #fff; border-top: 3px solid #f8b800; padding: 25px 0 0; z-index: 99; position: relative;}
/*.header .list-inline {margin-right: -40px; margin-left: -40px;}*/
.header .tagline {
	font-family: 'Russo One', sans-serif; color: #25232b; font-size: 13px; margin-bottom: 20px;
	white-space: nowrap;
}
.header .h-block {font-family: 'Russo One', sans-serif; color: #25232b; font-size: 14px; white-space: nowrap;}
.header .h-block a {color: #2576aa; font-family: 'PT Sans', sans-serif; margin-right: 8px;}
.header .h-block a.mail {font-family: 'Russo One', sans-serif;}
.header .h-block .region {margin-top: 8px;}
.header .h-block .region a {text-decoration: none; border-bottom: 1px dashed;}
.header .h-block .region a:hover {border-bottom-color: transparent;}
.header .h-block .m-link {border-bottom-color: #f7a7a9;}
.header .h-block .m-link:hover {border-bottom-color: transparent;}
.header .h-block .top-phone {font-size: 20px;}


.header nav {
	background: #25232b; height: 51px;
	-moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}
.header nav ul {margin-bottom: 0; position: relative;}
.header nav ul.list-inline > li {
	position: static;
	padding-right: 0;
	padding-left: 0;
}
.header nav ul.list-inline > li:first-child {padding-left: 15px;}
.header nav ul.list-inline > li:last-child {padding-right: 15px;}
.header nav ul.list-inline > li > a {
	font-size: 16px; font-weight: bold; color: #fff; display: inline-block;
	padding: 7px 45px 8px; line-height: 18px; height: 51px;
}

.header nav ul.list-inline > li:hover > a {color: #25232b; text-decoration: none; background: #f3f3f5;}

.header nav ul.list-inline > li.last > a {
	background: url("../img/nav-last-bg.png") 0 0; color: #25232b;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); padding: 7px 35px 8px;
}

.header nav ul.list-inline > li .subnav {
	display: none; position: absolute; left: 15px; right: 15px; background: #f3f3f5; z-index: 99;
	-moz-box-shadow: 0 8px 10px -3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 8px 10px -3px rgba(0,0,0,0.3);
	box-shadow: 0 8px 10px -3px rgba(0,0,0,0.3);
	padding: 30px 135px;
}
.header nav ul li:hover .subnav {display: block;}
.header nav ul .subnav .subnav-col {width: 26%; float: left; padding-right: 2%;}
.header nav ul .subnav .subnav-col:last-child {width: 20%; float: right; padding-right: 0;}
.header nav ul .subnav > div .col-title {color: #25232b; font-weight: bold;}
.header nav ul .subnav > div ul {margin-top: 20px;}
.header nav ul .subnav > div ul li {line-height: 25px;}
.header nav ul .subnav > div ul li a {color: #6c6a74; text-decoration: underline;}
.header nav ul .subnav > div a:hover {text-decoration: none;}
/*.header nav ul .subnav .subnav-block {width: 195px; }*/
.header nav ul .subnav .subnav-block .btn {display: block;}
.header nav ul .subnav .subnav-block .btn-link {text-transform: none;}
.header nav ul .subnav .subnav-block .title {
	color: #2c2a33; font-size: 14px; font-family: 'Russo One', sans-serif;
	line-height: normal; margin: 15px 0;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 207px;
}
.section-footer {margin: 59px 0; position: relative;}

/* promo --------------------------------------------------------------------*/

.promo {
	height: 447px; background: url("../img/top-slider-bg.jpg") no-repeat 50% 0;
	padding-top: 160px; position: relative;
}
.promo .slider-wrapper {width: 100%; max-width: 1000px; margin: 0 auto;}

.promo .block-title {color: #25232b; font-size: 30px; font-family: 'Russo One', sans-serif; margin-bottom: 30px}
.promo .promo-slider {position: relative; /*transform: none !important;*/}
.promo .promo-slider .p-item {
	color: #25232b; font-size: 15px; background: #ffedd3; padding: 20px 14px; border: 2px solid #ffedd3;
}
.promo .promo-slider .p-item .caption {font-weight: bold; margin-bottom: 10px; line-height: normal;}
.promo .promo-slider .p-item .text {margin-bottom: 10px;}
.promo .promo-slider .p-item a {font-weight: bold;}
.promo .bx-viewport {height: auto !important;}

.promo .bx-controls .bx-controls-direction {position: absolute; top: 20%; margin-top: -18px; left: -67px; right: -67px;}
.promo .bx-controls .bx-controls-direction  a {
	display: block; width: 20px; height: 36px; background: url("../img/slider-arows.png") no-repeat;
	overflow: hidden; text-indent: -9999px;
}
.promo .bx-controls .bx-controls-direction  a.bx-prev {background-position: 0 0; float: left;}
.promo .bx-controls .bx-controls-direction  a.bx-next {background-position: -20px 0; float: right;}

.promo .bx-wrapper .bx-pager .bx-pager-item {width: 20px; height: 20px; position: relative; margin: 0; display: inline-block;}


.promo .bx-wrapper .bx-pager.bx-default-pager a {
	background: #25232b;
	text-indent: -9999px;
	display: block;
	width: 6px;
	height: 6px;

	outline: 0;

	-webkit-transition: all 0.22s ease;
	-moz-transition: all 0.22s ease;
	-o-transition: all 0.22s ease;
	transition: all 0.22s ease;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -3px;


}
.promo .bx-wrapper .bx-pager.bx-default-pager a:hover,
.promo .bx-wrapper .bx-pager.bx-default-pager a:active,
.promo .bx-wrapper .bx-pager.bx-default-pager a.active {
	width: 12px; height: 12px;
	margin-top: -6px;
	margin-left: -6px;
	background: transparent;
	border: 1px solid #25232b;
}


.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -40px;
	width: 100%;
}

/* promo mounting cranes ----------------------------------------------------*/

.mounting-cranes {height: 383px; background: url("../img/promo-bg-01.jpg") no-repeat 50% 0; padding-top: 10px;}

.promo h1 {color: #25232b; font-size: 30px; font-family: 'Russo One', sans-serif; margin-bottom: 10px}
.promo h2 {font-size: 24px; font-weight: bold; color: #25232b; margin: 20px 0 30px;max-width: 600px;}
.promo .btn {font-size: 14px; padding: 8px 63px;}
.promo ul {color: #25232b; font-size: 18px; padding-left: 20px;}
.promo ul li {line-height: 30px;}

/* promo repair cranes ------------------------------------------------------*/

.repair-cranes {height: 383px; background: url("../img/promo-bg-02.jpg") no-repeat 50% 0; padding-top: 10px;}

/* promo transportation cranes ----------------------------------------------*/

.transportation-cranes {height: 383px; background: url("../img/promo-bg-03.jpg") no-repeat 50% 0; padding-top: 10px;}

/* crane rental -------------------------------------------------------------*/

.crane-rental {height: 383px; background: url("../img/promo-bg-04.jpg") no-repeat 50% 0; padding-top: 10px;}

/* counters -----------------------------------------------------------------*/

.counters {background: #f3f3f5;}
.counters .counters-wrapper {color: #25232b; font-size: 18px; font-weight: bold; padding: 33px 0;}
.counters .counters-wrapper span {color: #918e9a; font-size: 22px; font-family: 'Russo One', sans-serif;}

/* summary ------------------------------------------------------------------*/

.summary {padding: 30px 0;}
.summary header {margin-bottom: 20px;}
.summary h2 {
	font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;
	max-width: 700px;
	margin: 20px auto 10px;
}
.summary .summary-wrapper {overflow: hidden;}
.summary .summary-wrapper img {display: block; margin: 0 auto 15px;}
.summary .summary-wrapper .title {
	font-size: 18px; display: inline-block;
	font-family: 'Russo One', sans-serif; line-height: normal; 
	text-transform: uppercase; white-space: nowrap;
	color: #2586a7; margin-bottom: 20px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
}
.summary .summary-wrapper p {
	font-size: 16px; color: #25232b; line-height: normal;
}

/* last work ----------------------------------------------------------------*/

.last-work {padding: 30px 0;}
.last-work header {margin-bottom: 20px;}
.last-work h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}

.last-work .last-work-wrapper {}

.last-work .last-work-wrapper .last-work-item {
	background: #f3f3f5; padding: 20px; color: #25232b; font-size: 16px;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}
.last-work .last-work-wrapper .last-work-item .title {font-weight: bold; margin-bottom: 10px;}
.last-work .last-work-wrapper .last-work-item ul {margin: 10px 0; font-size: 14px;}
.last-work .last-work-wrapper .last-work-item strong {font-style: italic; display: block; margin: 10px 0;}
.last-work .last-work-wrapper .last-work-item .img-wrapper {}
.last-work .last-work-wrapper .last-work-item .img-wrapper img {margin-left: 1px; max-width: 32%;}
.last-work .last-work-wrapper .last-work-item .img-wrapper img:first-child {margin-left: 0;}

/* content blocks -----------------------------------------------------------*/

.content-blocks {padding: 30px 0;}

.content-blocks header {margin-bottom: 20px;}
.content-blocks h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.content-blocks h2 +p {font-size: 16px;}


.content-blocks .content-blocks-wrapper {}
.content-blocks .content-blocks-item {
	background: #f3f3f5; padding: 20px; color: #25232b; font-size: 16px;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

.content-blocks-item .title {
	font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;
	margin-bottom: 10px;
}
.content-blocks-item ul {font-size: 16px; margin-bottom: 0;}
.content-blocks-item ul li {line-height: 26px;}
.content-blocks-item ul li a {color: #25232b;}
.content-blocks-item p {line-height: 26px;}
.content-blocks-item p:last-child {margin-bottom: 0;}
.content-blocks-item .phone {
	display: block; margin: 18px 0;
	font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;
}

/* about --------------------------------------------------------------------*/

.about {}
.about .about-photo {position: relative;}
.about .about-photo .caption {
	color: #2e2c37; font-size: 24px; background: rgba(255,255,255, 0.8); padding: 22px 50px;
	width: 726px; position: absolute; bottom: 25px; left: 50%; margin-left: -363px;
}
.about .about-text {background: url("../img/about-bg.png") no-repeat 50% 0; background-size: cover; padding: 10px 0 50px; font-size: 16px;}
.about h1 {text-transform: uppercase; color: #25232b; font-size: 14px; font-family: 'Russo One', sans-serif; line-height: 24px;}
.about p { margin-bottom: 16px; line-height: 18px;}

/* selection tower crane ----------------------------------------------------*/

/*.selection-tower-crane {padding-top: 160px;}*/

.selection-tower-crane {padding: 20px 0; background: url("../img/selection-tower-crane.jpg") no-repeat 50% 0;}
.selection-tower-crane header {margin-bottom: 20px;}
.selection-tower-crane h1 {font-size: 30px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.selection-tower-crane h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.selection-tower-crane form {
	background: #f8c100 url("../img/lines.png") no-repeat 0 0; font-size: 14px; margin: 40px 0 15px; padding: 20px;
	-moz-box-shadow: 3px 3px 20px -4px #c3573a;
	-webkit-box-shadow: 3px 3px 20px -4px #c3573a;
	box-shadow: 3px 3px 20px -4px #c3573a;
}
.selection-tower-crane form p {color: #25232b; font-size: 18px;}
.selection-tower-crane form label {display: block;}
.selection-tower-crane form .btn {vertical-align: bottom; margin-top: 25px;}
/*.selection-tower-crane form .form-group {margin-right: 16px; }*/
/*.selection-tower-crane form .form-group {float: left;}*/
/*.selection-tower-crane form .form-group:first-of-type {padding-left: 15px;margin-top: 10px;}*/
.selection-tower-crane form .form-group .form-control {width: 100%; font-size: 16px; padding: 6px 20px;}
.selection-tower-crane form .form-group.col-md-2 {padding-right:0;}
.selection-tower-crane form .form-group select.form-control {width: auto;}
.selection-tower-crane form .form-group .radio {margin-top: 25px;}
/*.selection-tower-crane form .form-group.s-year {width: 105px;}*/
/*.selection-tower-crane form .form-group.s-mark {width: 165px;}*/
/*.selection-tower-crane form .form-group.s-cat {width: 285px;}*/
/*.selection-tower-crane form .form-group.s-height {width: 120px;}*/
/*.selection-tower-crane form .form-group.s-carrying-capacity {width: 120px;}*/

.selection-tower-crane .spare-parts-crane {color: #25232b; padding: 0 0 40px;}
.selection-tower-crane .spare-parts-crane header {margin-bottom: 20px;}
.selection-tower-crane .spare-parts-crane h1 {font-size: 30px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.selection-tower-crane .spare-parts-crane h1 + p {font-size: 18px;}
.selection-tower-crane .spare-parts-crane .spc-item {
	background: #f3f3f5; padding: 20px;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}
.selection-tower-crane .spare-parts-crane .caption {font-size: 18px; color: #aa2320; margin-bottom: 20px; font-weight: bold;}
.selection-tower-crane .spare-parts-crane ul {margin-left: 0; margin-bottom: 30px;}
.selection-tower-crane .spare-parts-crane ul li {line-height: 26px; color: #25232b;}
.selection-tower-crane .spare-parts-crane ul li a {color: #25232b;}
.selection-tower-crane .spare-parts-crane .more,
.selection-tower-crane .spare-parts-crane .s-item a {color: #2c7aad; font-size: 14px; font-weight: bold; margin-left: 0;}
.selection-tower-crane .spare-parts-crane .s-item {margin-bottom: 12px;}
.selection-tower-crane .spec .spc-item {
	border: 2px solid #f8c206; background: #fff url("../img/spec-bg.png");
	-moz-box-shadow: inset 0 0 17px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 17px 0 rgba(0,0,0,0.3);
	box-shadow: inset 0 0 17px 0 rgba(0,0,0,0.3);
}
/*.selection-tower-crane .crane-item-wrapper {width: 980px; padding-right: 0;}*/

.crane-item-wrapper form {margin: 10px 0 25px;}
.crane-item-wrapper .search-category,
.crane-item-wrapper .scheme {
	background: #f3f3f5; padding: 20px; margin: 10px 0 20px;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}
.crane-item-wrapper .search-category .caption {
	font-size: 18px; color: #aa2320; margin-bottom: 20px;
	font-weight: bold;
}
.crane-item-wrapper .search-category ul {
	font-size: 0;
	-moz-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5;
}
.crane-item-wrapper .search-category ul li a {font-size: 14px; color: #25232b; line-height: 26px;}
.crane-item-wrapper .scheme {color: #25232b; font-size: 18px; font-weight: bold;}
.crane-item-wrapper .scheme img {margin-right: 20px;}

.selection-tower-crane .crane-item {
	background: #fff; padding: 30px;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

.crane-item .col-left,
.crane-item .col-right {float: left;}
.crane-item .col-left {width: 280px;}
.crane-item .col-right {
	width: 65%;
	margin-left: 20px;
}

.crane-item .crane-slider-wrapper {}
.crane-item .crane-slider-wrapper .bx-wrapper {margin-bottom: 5px;}
.crane-item .crane-slider-wrapper .bx-wrapper + div {margin-left: -1px;}
.crane-item .crane-slider-wrapper .bx-wrapper + div > a {float: left; margin-left: 7px;}
.crane-item .crane-slider-wrapper .bx-wrapper + div > a:first-child {margin-left: 0;}

.crane-item .crane-item-description {}
.crane-item .crane-item-description .features {margin-bottom: 10px;}
.crane-item .crane-item-description .features ul {font-size: 17px; font-weight: bold;}
.crane-item .crane-item-description .features ul li {line-height: 26px;}
.crane-item .crane-item-description .features ul li .title {color: #2576aa;}
.crane-item .crane-item-description .features ul li .data {color: #25232b;}

.crane-item .crane-item-description .owner-block {border-top: 1px solid #e1e1e1; padding-top: 3px;}
.crane-item .crane-item-description .owner-block .owner {
	color: #25232b; font-size: 18px; font-weight: bold; font-style: italic; margin-bottom: 7px;
}
.crane-item .crane-item-description .owner-block  blockquote {
	border: 0; padding: 0; color: #25232b; margin-bottom: 15px; line-height: 24px;
}

.main-characteristics { padding: 0; margin: 30px -15px;}
.main-characteristics [class*=col-item] {
	background: #fff; padding: 30px;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

/*.main-characteristics .col-item-0 {width: 100%;}*/
/*.main-characteristics .col-item-1 {width: 620px;}*/
/*.main-characteristics .col-item-2 {width: 320px; margin-left: 25px}*/
.main-characteristics .ch-block-caption {
	font-size: 20px; font-family: 'Russo One', sans-serif; margin-bottom: 15px;
	line-height: normal; text-transform: uppercase; color: #aa221d;
}
.main-characteristics .ch-block-subcaption {
	font-size: 16px; font-family: 'Russo One', sans-serif; color: #949496; margin-bottom: 10px;
}
.main-characteristics .ch-block-content {color: #25232b; font-size: 16px;}
.main-characteristics .col-item-1 .ch-block-content ul {
	font-size: 16px; font-family: 'Russo One', sans-serif; color: #25232b; margin-bottom: 0;
}
.main-characteristics .col-item-1 .ch-block-content ul li {line-height: 25px; margin-top: 3px;}
.main-characteristics .col-item-1 .ch-block-content ul li span {display: inline-block; width: 390px; vertical-align: middle;}
.main-characteristics .col-item-2 .ch-block-content {
	color: #25232b; font-size: 16px; font-weight: bold;
}
.main-characteristics .col-item-2 .ch-block-content > span {
	display: block; font-size: 26px; margin-top: 20px;
}

.blue-icn {
	display: inline-block; width: 40px; height: 25px; background: url("../img/blue-icn.png") no-repeat;
	vertical-align: middle;
}
.blue-icn.icn01 {background-position: 0 0;}
.blue-icn.icn02 {background-position: 0 -25px;}
.blue-icn.icn03 {background-position: 0 -50px;}
.blue-icn.icn04 {background-position: 0 -75px;}

/* selection tower crane rental ---------------------------------------------*/

.selection-tower-crane.rental {background: none;}
/*.selection-tower-crane.rental form .form-group.s-mark {width: 185px;}*/
.selection-tower-crane.rental form .form-group .radio {margin: 25px 9px 0 9px;}
.selection-tower-crane.rental form .form-group.btnr {padding-left: 0;}
.selection-tower-crane.rental form .form-group .btn {margin-top: 25px;}

/* custom selectbox ---------------------------------------------------------*/

.sbHolder {background: #fff; width: auto !important; position: relative;}
.sbHolder.sbSelectOpen {
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

.sbSelector {
	font-size: 18px; padding: 8px 45px 8px 20px; display: block;
	position: relative;
	z-index: 11;
	background: #fff;
}
.sbSelector,
.sbSelector:focus {color: #8c8b90; text-decoration: none;}
.sbHolder:hover .sbSelector {color: #25232b;}
.sbHolder.sbSelectOpen .sbSelector {color: #25232b;}
.sbToggle {
	width: 0; height: 0; border-style: solid; border-width: 9px 8px 0 8px;
	border-color: #25232b transparent transparent transparent;
	position: absolute; top: 16px; right: 20px; z-index: 12;
}
.sbOptions {
	position: absolute; background: #fff; width: 100%; z-index: 10;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}
.sbOptions .sbOptionsList {list-style: none; margin: 0; padding: 0;}
.sbOptions .sbOptionsList .sbOptionsItem {padding: 4px 20px;}

.sbOptions .sbOptionsList .sbOptionsItem:nth-of-type(odd) {background: #fff;}
.sbOptions .sbOptionsList .sbOptionsItem:nth-of-type(even) {background: #f3f3f5;}

.sbOptions .sbOptionsList .sbOptionsItem .sbDisabled {color: #8c8b90;}
.sbOptions .sbOptionsList .sbOptionsItem,
.sbOptions .sbOptionsList .sbOptionsItem a {
	font-size: 16px; color: #25232b; text-decoration: none;	display: block;
}
.sbOptions .sbOptionsList .sbOptionsItem.sbOptionSelected a {color: #aa2320; font-weight: bold;}

/* custom checkbox ----------------------------------------------------------*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute !important;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer; font-weight: bold; margin-right: 10px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 17px; height: 17px;
	border: 1px solid #aaa;
	background: #f8f8f8;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: ' ';
	position: absolute;
	top: 0; left: 4px;
	color: #25232b;
	transition: all .2s;
	background: url("../img/ch.png") no-repeat;
	display: block;
	width: 19px;
	height: 14px;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 1px dotted blue;
}

/* custom radio btn ---------------------------------------------------------*/

/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
	position: absolute !important;
	left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer; font-weight: bold;
	margin-right: 10px;
	font-size: 15px;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 18px; height: 18px;
	border: 1px solid #aaa;
	background: #f8f8f8;
	border-radius: 10px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
	content: ' ';
	position: absolute;
	top: 7px; left: 5px;
	color: #25232b;
	transition: all .2s;
	background: #25232b;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 10px;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="radio"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
	color: #999;
}
[type="radio"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
	border: 1px dotted blue;
}

/* action crane -------------------------------------------------------------*/

.action-crane {color: #25232b;}
.action-crane .action-crane-item {
	background: #f8c100 url("../img/lines.png") no-repeat 0 0; font-size: 14px; margin: 40px 0; padding: 21px 47px;
	-moz-box-shadow: 3px 3px 20px -4px #c3573a;
	-webkit-box-shadow: 3px 3px 20px -4px #c3573a;
	box-shadow: 3px 3px 20px -4px #c3573a;
}
.action-crane .action-crane-item .caption {font-size: 19px; font-weight: bold;}
.action-crane .action-crane-item .text {font-size: 16px;}
.action-crane .btn { margin-top: 5px;}


/* spare parts crane --------------------------------------------------------*/

.spare-parts-crane {color: #25232b; padding: 30px 0 40px;}
.spare-parts-crane header {margin-bottom: 20px;}
.spare-parts-crane h1 {font-size: 30px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.spare-parts-crane h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.spare-parts-crane h1 + p {font-size: 18px;}
.spare-parts-crane .spc-item {
	background: #f3f3f5; padding: 20px;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}
.spare-parts-crane .caption {font-size: 18px; color: #aa2320; margin-bottom: 20px; font-weight: bold;}
.spare-parts-crane ul {margin-left: 20px; margin-bottom: 30px;}
.spare-parts-crane ul li {line-height: 26px; color: #25232b;}
.spare-parts-crane ul li a {color: #25232b;}
.spare-parts-crane .more {color: #2c7aad; font-size: 14px; font-weight: bold; margin-left: 20px;}

/* help form ----------------------------------------------------------------*/

.help {padding: 0 0 40px;}
.help header {margin-bottom: 20px;}
.help h1 {font-size: 30px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.help h1 + p {font-size: 18px;}
.help h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.help h2 + p {font-size: 16px;}
.help form {background: #f3f3f5;}
.help form label {display: block;}
.help form i {font-size: 18px; display: block; margin-bottom: 10px;}
.help form p {font-size: 16px;}
.help form .btn {vertical-align: bottom; margin-bottom: 20px;}
.help form .form-group {margin-right: 20px; width: 250px; margin-bottom: 20px;}
.help form .form-group .form-control {width: 100%;}
.help form .form-footer {margin-top: 40px;}
.help form:after {
	display: block; width: 132px; height: 199px; position: absolute; right: 53px; bottom: 0; content: ' ';
	background: url("../img/help-man.png") no-repeat 0 0;
}

.help.block_on_page {}
.help.block_on_page .btn {margin-bottom: 0;}
.help.block_on_page form .fullsize-block {width: 525px; display: block; margin-bottom: 25px;}
.help.block_on_page form:after {
	display: block; width: 386px; height: 313px; position: absolute; right: 15px; bottom: -33px; content: ' ';
	background: url("../img/help-man2.png") no-repeat 0 0;
}
.help.page2 form:after {
	display: block; width: 210px; height: 320px; position: absolute; right: 120px; bottom: 0; content: ' ';
	background: url("../img/help-man3.png") no-repeat 0 0;
}

.help.page3 form:after {
	display: block; width: 277px; height: 324px; position: absolute; right: 80px; bottom: 0; content: ' ';
	background: url("../img/help-man4.png") no-repeat 0 0;
}

.help.page4 form:after {
	display: block; width: 255px; height: 294px; position: absolute; right: 70px; bottom: 0; content: ' ';
	background: url("../img/help-man5.png") no-repeat 0 0;
}
.help.page5 form:after {
	display: block; width: 273px; height: 349px; position: absolute; right: 60px; bottom: 0; content: ' ';
	background: url("../img/help-man6.png") no-repeat 0 0;
}
.help.page5 form .form-group {width: 190px;}
.help.page5 form .form-group.phone {width: 300px;}
.help.page5 .form-footer {margin-top: 20px;}

/* catalog ------------------------------------------------------------------*/

.catalog {padding: 30px 0 40px;}
.catalog .col-md-10 {padding-right: 0;}
.catalog header {margin-bottom: 20px;}

.catalog h1 {font-size: 30px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.catalog h1 + p {font-size: 18px;}
.catalog h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.catalog h2 + p {font-size: 16px;}

.catalog-item-wrapper {
	background: #f3f3f5; margin-bottom: 35px;

	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

.catalog-item-wrapper .catalog-item {position: relative; z-index: 1;}
.catalog-item-wrapper .catalog-item > div {
	padding: 23px 20px; border-top: 1px solid #fff;
	font-size: 14px; font-family: 'Russo One', sans-serif; line-height: 41px; /*text-transform: uppercase;*/
}
.catalog-item-wrapper .catalog-item .price {color: #2576aa;}
.catalog-item-wrapper .catalog-item .price > span {
	font-family: 'PT Sans', sans-serif; font-size: 14px; font-weight: bold;
}
.catalog-item-wrapper .catalog-item:first-child > div {border-top: transparent;}

.catalog-item-wrapper .catalog-item:hover {
	background: #fff;
	border: 3px solid #f8c100;
	border-radius: 5px;

	-moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
	z-index: 10; margin: -3px;

}

.catalog-item-wrapper .list-caption {
	background: #f8ba00; border-radius: 5px 5px 0 0;
}
.catalog-item-wrapper .list-caption > div {
	padding: 20px; font-size: 14px; color: #2c2a33;
	font-family: 'Russo One', sans-serif;

}

.catalog.rental .catalog-item-wrapper .btn {float: right;}


/* pagination ---------------------------------------------------------------*/

.pagination {padding-left: 0; margin: 0;	border-radius: 0;}

.pagination >li > a,
.pagination >li > span {
	color: #25232b; background-color: transparent; border: none;
	font-size: 18px; font-family: 'Russo One', sans-serif; line-height: 1; text-transform: uppercase;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li.current > a {
	color: #f8c100;
	background-color: transparent;
	border-color: transparent;
}

.pagination > li > a[aria-label="Previous"] span,
.pagination > li > a[aria-label="Next"] span {
	overflow: hidden; text-indent: -9999px;
	display: block; width: 31px; height: 18px; background: url("../img/page-arrow.png") no-repeat;
}
.pagination > li > a[aria-label="Previous"] span {background-position: 0 0;}
.pagination > li > a[aria-label="Next"] span {background-position: 0 -18px;}
/* 404 ----------------------------------------------------------------------*/

.selection-404 {padding: 40px 0;}
.selection-404 .mess {font-size: 24px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.selection-404 .site-map {
	font-size: 14px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;
	display: inline-block; margin: 0;
	position: relative;
	top: 0; left: 50%;
	transform: translate(-50%, 0);
}
.selection-404 .site-map li {line-height: 30px;}
.selection-404 .site-map li ul {font-size: 12px;}
.selection-404 .site-map li ul li {line-height: 24px;}

/* popular ------------------------------------------------------------------*/

.popular {}
.popular header {margin-bottom: 20px;}
.popular h1 {font-size: 30px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.popular h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}

.popular-slider .slide-item {margin: 0; padding: 0;}
.popular-slider .thumbnail {margin: 0; padding: 0; background: #fff; border: 1px solid #d7d7d7;}
.popular-slider .thumbnail .caption {font-size: 16px; color: #25232b;}
.popular-slider .thumbnail .caption a {font-weight: bold; margin-bottom: 10px; display: inline-block;}
.popular-slider .btn-yellow {display: block; margin-top: 10px;}
.popular .bx-controls {position: absolute; top: 50%; margin-top: -18px; left: -67px; right: -67px;}
.popular .bx-controls a {
	display: block; width: 20px; height: 36px; background: url("../img/slider-arows.png") no-repeat;
	overflow: hidden; text-indent: -9999px;
}
.popular .bx-controls a.bx-prev {background-position: 0 0; float: left;}
.popular .bx-controls a.bx-next {background-position: -20px 0; float: right;}
.popular .section-footer {margin-top: 37px; text-align: center;}

/* news --------------------------------------------------------------------*/

.news {background: #f3f3f5;}
.news .tab-content {padding-right: 50px; padding-left: 50px;}
.news .news-slider {}
.news .news-slider .ns-item {
	font-weight: bold; border-left: 1px solid #87868b; padding: 22px 0 22px 20px; margin: 25px 0;
	min-width: 240px;
}
.news .news-slider .ns-item .date {font-size: 16px; color: #9b9d9f; margin-bottom: 16px;}
.news .news-slider .ns-item a {font-size: 14px; color: #007cb1;}
.news .nav-stacked > li+li {margin-top: 0;}
.news .nav-pills > li {background: #dadadc; position: relative;}
.news .nav-pills > li > .all-news {
	background: transparent !important; color: #2576aa; font-size: 15px; margin: 0 22px; padding: 0;
	position: absolute; top: 50px;
}
.news .nav-pills > li > .all-news,
.news .nav-pills > li > .all-news,
.news .nav-pills > li > .all-news {color: #2576aa; text-decoration: none;}

.news .nav-pills > li > a:focus,
.news .nav-pills > li > a:hover {color: #fff;}

.news .nav-pills > li > span {
	 border-radius: 0; text-transform: uppercase; color: #25232b;
	font-family: 'Russo One', sans-serif; font-size: 20px; display: block; padding: 22px 22px 40px; cursor: pointer;
}
.news .nav-pills >li.active,
.news .nav-pills >li.active:focus,
.news .nav-pills >li.active:hover {background: #c2c2c4;}
.news .nav-pills >li.active:before {
	width: 0; height: 0; display: block; content: ' '; position: absolute; top: 50%; margin-top: -13px;
	right: -12px; border-style: solid; border-width: 13px 0 13px 12px;
	border-color: transparent transparent transparent #c2c2c4;
}

.news .bx-viewport {min-height: 180px; z-index: 1;}
.news .bx-controls {position: absolute; top: 50%; margin-top: -18px; left: 10px; right: 10px; z-index: 0;}
.news .bx-controls a {
	display: block; width: 20px; height: 36px; background: url("../img/slider-arows.png") no-repeat;
	overflow: hidden; text-indent: -9999px;
}
.news .bx-controls a.bx-prev {background-position: 0 0; float: left;}
.news .bx-controls a.bx-next {background-position: -20px 0; float: right;}


/* breadcrumbs --------------------------------------------------------------*/

.breadcrumbs {
	background: rgba(255,255,255, 0.85); padding: 0 30px; line-height: 32px; font-size: 14px; font-weight: bold;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.breadcrumbs a {display: inline-block; margin-right: 20px; position: relative;}
.breadcrumbs a:after {content:'\2192'; position: absolute; right: -18px; color: #2c2a33; z-index: 0;}

/*.promo .breadcrumbs {*/
	/*-moz-box-shadow: none;*/
	/*-webkit-box-shadow: none;*/
	/*box-shadow: none;*/

	/*background: rgba(255,255,255, 0.75);*/
/*}*/

/* specifications -----------------------------------------------------------*/

.specifications {}
.specifications header {margin-bottom: 20px;}
.specifications h1 {font-size: 30px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.specifications h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}
.specifications h3 {font-size: 13px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}

.specifications .serv-link {}
.specifications .serv-link li {padding-left: 24px;}
.specifications .serv-link li a {
	font-size: 17px; font-weight: bold; position: relative;
}
.specifications .serv-link li a:before {
	display: block; width: 24px; height: 22px; content: ' ';
	background: url("../img/serv-icn.png") no-repeat 0 0;
	position: absolute; top: 0; left: -24px;
}
.specifications .serv-link .download a:before {background-position: 0 0;}
.specifications .serv-link .print a:before {background-position: 0 -22px;}
.specifications .serv-link .in-mail a:before {background-position: 0 -44px;}

.specifications .panel-group .panel {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border-color: #e1e1e1;
}
.specifications .panel-group .panel .panel-heading {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;

	background-color: #e1e1e1;
	border-color: #e1e1e1;
}
.specifications .panel-group .panel .panel-title {}
.specifications .panel-group .panel .panel-title a {
	color: #2c2a33; font-size: 16px; text-decoration: none; position: relative;
	font-weight: bold; display: block; text-align: center;
	margin: -10px -15px; padding: 10px 15px;
}
.specifications .panel-group .panel .panel-title a:before {
	display: block; width: 14px; height: 18px; content: ' ';
	background: url("../img/collapse-arr.png") no-repeat 0 -18px;
	position: absolute; right: 15px;
}
.specifications .panel-group .panel .panel-title a.collapsed:before {background-position: 0 0;}

.specifications .panel-group .panel-heading+.panel-collapse>.list-group,
.specifications .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #e1e1e1; padding: 0;
}
.specifications .panel-group .panel-heading+.panel-collapse>.panel-body table {margin-bottom: 0;}

.specifications .table-striped>tbody>tr:nth-of-type(odd) {background: #fff;}
.specifications .table-striped>tbody>tr:nth-of-type(even) {background: #f3f3f5;}

.specifications .panel-body .table>tbody>tr>td,
.specifications .panel-body .table>tbody>tr>th,
.specifications .panel-body .table>tfoot>tr>td,
.specifications .panel-body .table>tfoot>tr>th,
.specifications .panel-body .table>thead>tr>td,
.specifications .panel-body .table>thead>tr>th {border-top: 0;}

.specifications .collapse-table-wrapper {}
.specifications .collapse-table-wrapper .panel .panel-title a:before {top: 10px;}
.specifications .collapse-table-wrapper .panel .panel-title a {font-size: 13px; text-align: left;}
.specifications .collapse-table-wrapper .panel .panel-title a table {margin-bottom: 0; width: 98%;}
.specifications .collapse-table-wrapper .panel .panel-title a .table>tbody>tr>td {
	padding: 0 2px; vertical-align: bottom; line-height: 1; border-top: 0;
}
.specifications .collapse-table-wrapper .panel .panel-title a .table>tbody>tr>td:first-child {padding-left: 0;}
.specifications .collapse-table-wrapper .panel .panel-title a .table>tbody>tr>td:last-child {padding-right: 0;}

.specifications .collapse-table-wrapper .panel-heading+.panel-collapse>.panel-body .table {width: 100%;}
.specifications .collapse-table-wrapper .panel-heading+.panel-collapse>.panel-body .table>tbody>tr>td:first-child {padding-left: 15px;}
.specifications .collapse-table-wrapper .panel-heading+.panel-collapse>.panel-body .table>tbody>tr>td:last-child {padding-right: 40px;}

/* popular detail -----------------------------------------------------------*/

.popular-detail {margin-bottom: 30px;}
.popular-detail header {margin-bottom: 20px;}
.popular-detail h2 {font-size: 20px; font-family: 'Russo One', sans-serif; line-height: normal; text-transform: uppercase;}

.popular-detail .list-wrapper {
	background: #f3f3f5; padding: 20px; margin: 10px 0 0;
	-moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);

	/*-moz-column-count: 2;*/
	/*-webkit-column-count: 2;*/
	/*column-count: 2;*/
}
.popular-detail .list-wrapper li {line-height: 26px;}
.popular-detail .list-wrapper li a {font-size: 14px; color: #25232b;}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -207px auto 0;
	min-height: 207px;
	background: #f3f3f5;
	position: relative;
	border-top: 3px solid #f8b800; font-size: 14px; color: #25232b;
}
/*.footer > nav > .container > .row > div {padding: 0 15px 0 0;}*/
/*.footer .container > .row > div:first-child {padding-left: 0;}*/
/*.footer .container > .row > div:last-child {padding-right: 0;}*/

.footer nav {background: #25232b; height: 51px;}
.footer nav ul {margin-bottom: 0; position: relative;}
.footer nav ul.list-inline > li {padding-right: 15px; padding-left: 15px; position: static;}
.footer nav ul.list-inline > li > a {font-size: 16px; font-weight: bold; color: #fff; display: inline-block; padding: 7px 26px 8px; line-height: 18px;}
.footer nav ul.list-inline > li:hover {}
.footer nav ul.list-inline > li:hover > a {color: #25232b; text-decoration: none; background: #f3f3f5;}


.footer .f-header {text-transform: uppercase; font-weight: bold; margin: 10px 0;}
/*.footer .list-inline {margin-right: -40px; margin-left: -40px;}*/
.footer .manufacturers {}
.footer .manufacturers .m-item {float: left; width: 50%; margin-bottom: 10px;}
.footer .manufacturers .m-item a {color: #25232b; text-decoration: none;}
.footer .manufacturers .m-item a img,
.footer .manufacturers .m-item a span {display: inline-block; vertical-align: top; line-height: 16px;}
.footer .manufacturers .m-item a span {width: 180px; text-decoration: underline;}
.footer .manufacturers .m-item a:hover span {text-decoration: none;}
.footer .manufacturers .m-item a img {margin-right: 10px;}
.footer .f-nav {margin: 40px 0 10px;}
.footer .f-nav a {white-space: nowrap;}
.footer .f-phone {
	font-family: 'Russo One', sans-serif; color: #25232b; white-space: nowrap;
	font-size: 20px; margin: 40px 0 0 70px; text-align: right;
}
.footer .m-link {border-bottom-color: #ec2327;}
.footer .m-link:hover {border-bottom-color: transparent;}
.footer .copy {color: #25232b; font-size: 12px; margin: 10px 0 0 0;}

/* Modal
-----------------------------------------------------------------------------*/

.modal-open {padding-right: 0 !important;}
.modal-backdrop.in {
	filter: alpha(opacity=60);
	opacity: .6;
}

.modal-content {border: 3px solid #f8c206; background: #f3f3f5;}

.modal-content .close {position: absolute; top: 15px; right: 14px;}
.modal-content .close,
.modal-content .close:focus,
.modal-content .close:hover {filter: alpha(opacity=100); opacity: 1; outline: 0;}
.modal-content .close span {
	display: block; width: 18px; height: 18px;
	background: url("../img/cross.png") no-repeat;
}
.modal-header {
	padding: 29px 15px 0;
	border-bottom: none;
}
.modal-title {
	/*margin-left: 16.66666667%;*/
	color: #25232b; font-family: 'Russo One', sans-serif; font-size: 16px; text-transform: uppercase;
}
.modal-body {position: relative; padding: 24px 16px; font-size: 16px; color: #25232b;}
.modal-body form {position: relative; padding: 0 44px 0 0;}
.modal-body form .form-group {margin-bottom: 24px;}
.modal-body form .form-group:last-child {margin-bottom: 0;}
.modal-body .add-field {font-size: 16px; color: #25232b; text-decoration: none; border-bottom: 1px dashed #25232b;}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: none;
}

.modal-callback .modal-dialog {width: 525px;}
.modal-thanks .modal-title {margin-left:0;}

.modal-order .modal-dialog {width: 615px;}


















