<nav class="navbar is-fixed-top has-text-centered">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-bold is-size-4" href="#home">
                < f<span class="part-of-name">enrirheimr</span> / >
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#resume">Резюме</a>
                <a class="navbar-item" href="#portfolio">Порфолио</a>
            </div>
        </div>
    </div>
</nav>