<nav class="navbar navbar-light bg-color fixed-top">

  <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
  <div id="navigation" class="nav" style="display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.5)">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>

  <!--<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar">-->
    <!--<span> </span>-->
    <!--<span> </span>-->
    <!--<span> </span>-->
  <!--</button>-->

  <!--<div class="collapse navbar-collapse" id="collapsingNavbar">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
</nav>