<section class="container portfolio is-centered" id="portfolio">
    <div class="columns is-centered">
        <div class="column is-two-thirds-desktop has-text-centered">
            <h1 class="title is-spaced">Портфолио</h1>
            <div class="subtitle">
                <p>Здесь безумная куча данных, поэтому решил оформить это все в виде тайм-лайна.</p>
                <p>И, да, еще один момент. За 13 лет работ было сделано очень много и некоторые проекты уже или <a href="#remake-works" class="has-text-warning">переделаны или вовсе закрыты</a> за ненадобностью.</p>
                <p>Для удобства навигации клацайте на тэги.</p>
            </div>

            <nav class="tags-nav portfolio-nav">
                <a data-target="all" class="tag is-warning is-large all">Все</a><a v-for="item in years" :data-target="item.year" class="tag is-large">{{ item.year }}</a>
            </nav>

        </div>

    </div>

    <div class="timeline is-centered vue">
        <div v-for="item in portfolio" class="row">
            <template v-if="item.isYear">
                <header class="timeline-header">
                    <span :data-year="item.year" class="select-year tag is-warning" :class="item.currentClass">{{ item.year }}</span>
                </header>
            </template>

            <template v-if="item.isVisible">
                <div class="timeline-item select-year" :data-year="item.year">
                    <div class="timeline-marker"></div>
                    <figure class="image is-96x96 is-hidden-mobile">
                        <img src="img/loading.gif" :src="item.img">
                    </figure>
                    <div class="timeline-content">
                        <p class="heading">{{ item.month }} {{ item.year }} {{ item.status }}</p>
                        <div class="project-title"><strong v-html="item.name">название проекта</strong></div>
                        <p v-html="item.client">клиент</p>
                        <template v-if="item.isExist">
                            <a :href="item.exLink" class="button is-small is-link" target="_blank">
                                Посетить&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i>
                            </a>
                        </template>
                        <template v-else>
                            <div class="button is-small is-link" disabled>
                                Ссылка недоступна
                            </div>
                        </template>
                        <!--button class="button is-small is-link" data-show="quickview" :data-target="item.id">Описание проекта</button>

                        <div :id="item.id" class="quickview">
                            <header class="quickview-header">
                                <h2 class="title" v-html="item.name">заголовок</h2>
                                <span class="delete" data-dismiss="quickview"></span>
                            </header>

                            <div class="quickview-body">
                                <div class="quickview-block">
                                    <figure class="image is-centered is-hidden-mobile">
                                        <img src="img/loading.gif" :src="item.descriptionImg">
                                    </figure>
                                    <p v-html="item.description">описание проекта</p>
                                    <hr>
                                    <p><strong>Заказчик:</strong> <span v-html="item.client">клиент</span></p>
                                </div>
                            </div>

                            <footer class="quickview-footer">
                                <template v-if="item.isExist">
                                    <a :href="item.exLink" target="_blank">
                                        Посетить <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </template>
                                <template v-else>
                                    <div>
                                        Ссылка недоступна
                                    </div>
                                </template>
                            </footer>
                        </div-->
                    </div>
                </div>
            </template>

        </div>
    </div>

    <div id="remake-works" class="columns is-centered">
        <div class="column is-two-thirds-desktop has-text-centered">
            <div class="subtitle">
                <p>Как уже было сказано выше, некоторые сайты в создании которых я принимал участие, были переделаны или закрыты. Но все же, для полноты картины
                и понимания того через что и как я прошел, хранится <a href="#" class="has-text-warning remake-link">этот список</a>, со всеми исходниками, которые удалось сохранить за эти годы.</p>
            </div>

            <div class="remake-wrapper has-text-left">
                <ul class="remake-list box">
                    <template v-for="item in remake">
                        <template v-if="item.isYear">
                            <li class="is-divider header" :data-content="item.year"></li>
                        </template>
                        <li>
                            <p v-html="item.name">название проекта</p>
                            <p>
                                <template v-if="item.isExist">
                                    <a :href="item.exLink" target="_blank">
                                        {{ item.exLinkText }}
                                    </a>
                                </template>
                            <p v-html="item.client">клиент</p>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="quickview-template">

    </script>
</section>
