<section class="container resume" id="resume">
    <div class="columns is-centered">
        <div class="column is-hidden-mobile is-one-fifth">
            <figure class="image is-4by5 photo">
                <img src="img/photo3.jpg" />
            </figure>
        </div>
        <div class="column is-full-mobile is-half">

            <p class="subtitle">Меня зовут Владимир Глушков и я front-end developer.<br>Мне 34 года и последние 13 лет я занимаюсь разработкой сайтов.</p>

            <p class="subtitle">Резюме можно посмотреть <a class="has-text-warning resume-link" href="#">здесь</a>,
                на <a class="has-text-warning" target="_blank" href="https://hh.ru/applicant/resumes/view?resume=f3f47071ff016f67f00039ed1f434f44666d53">hh.ru</a>
                или <a class="has-text-warning" href="/resume_glushkov.pdf" target="_blank">скачать</a>, распечатать и повесить в рамочку</p>

            <p class="subtitle">Если я вас заинтересовал со мной можно связаться<br>по телефону:
                <a  class="has-text-warning" href="tel:+7-906-863-5088">+7-906-863-5088</a> (Telegram, WhatsApp, Viber),<br>
                в скайпе: <a class="has-text-warning" href="skype:fenrirheimr?call">fenrirheimr</a><br>
                или написать мне на почту <a class="has-text-warning" href="mailto:xhtmlblog@gmail.com">xhtmlblog@gmail.com</a></p>

            <p class="subtitle social">Так же, при необходимости, меня можно найти в
                <a href="https://vk.com/fenrirheimr" target="_blank"><i class="fab fa-vk"></i></a>,
                <a href="https://twitter.com/fenrirheimr" target="_blank"><i class="fab fa-twitter"></i></a> и
                <a href="https://www.instagram.com/fenrirheimr/" target="_blank"><i class="fab fa-lg fa-instagram"></i></a>
            </p>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-full-mobile is-two-thirds-tablet is-two-thirds-desktop">
            <div class="resume-wrapper">
                <div class="resume-row">
                    <span class="class">#Objective</span> {
                    <div class="rules-wrap">
                        <div class="atr-row">
                            <span class="atr">Employment</span>:
                            &nbsp; "<span class="val text">remote job</span>",
                            &nbsp; <span class="val text">full-time</span>,
                            &nbsp; <span class="val text">part-time</span>,
                            &nbsp; <span class="val text">freelance</span>;
                        </div>
                    </div>
                    }
                </div>
                <div class="resume-row">
                    <span class="class">#Skils</span> {
                    <div class="rules-wrap">
                        <div class="atr-row">
                            <span class="atr">Language</span>:
                            &nbsp; <span class="val text">HTML/HAML</span>,
                            &nbsp; <span class="val text">SASS/SCSS</span>,
                            &nbsp; <span class="val text">JS</span>;
                        </div>
                    </div>
                    <div class="rules-wrap">
                        <div class="atr-row">
                            <span class="atr">Software</span>:
                            &nbsp; "<span class="val text">Ubuntu Linux</span>",
                            &nbsp; <span class="val text">WebStorm</span>,
                            &nbsp; <span class="val text">Photoshop</span>,
                            &nbsp; etc.;
                        </div>
                    </div>
                    <div class="rules-wrap">
                        <div class="atr-row">
                            <span class="atr">Framework</span>:
                            &nbsp; <span class="val text">bootstrap</span>,
                            &nbsp; <span class="val text">bulma.io</span>,
                            &nbsp; <span class="val text">webix</span>;
                        </div>
                    </div>
                    <div class="rules-wrap">
                        <div class="atr-row">
                            <span class="rtag">@import</span> <span class="tq">"head/brain"</span>;
                        </div>
                        <div class="atr-row">
                            <span class="rtag">@import</span> <span class="tq">"git"</span>;
                        </div>
                        <div class="atr-row">
                            <span class="rtag">@import</span> <span class="tq">"modesty"</span>;
                        </div>
                        <div class="atr-row">
                            <span class="is-muted"><span class="rtag">@in-porigress</span> <span class="tq">"vue.js"</span> (<span class="val num">30%</span>);</span>
                        </div>

                    </div>
                    }
                </div>
                <div class="resume-row">
                    <span class="class">#Work-Experience</span> {
                    <div class="rules-wrap" v-for="(item) in workExperience">
                        <span class="class">{{ item.indexNumber }}</span> {
                        <div class="rules-wrap">
                            <div class="atr-row">
                                <span class="atr">Year</span>: <span class="val num">{{ item.year }}</span>;
                            </div>
                            <div class="atr-row">
                                <span class="atr">Employer</span>: &nbsp; <span class="val text">{{ item.employer }}</span>;
                            </div>
                            <div class="atr-row">
                                <span class="atr">Position</span>:
                                &nbsp; <span v-html="item.position" class="val text"></span>;
                            </div>
                            <div class="atr-row">
                                <span class="atr">Responsibility</span>:
                                &nbsp; <span v-html="item.responsibility" class="val text"></span>;
                            </div>
                        </div>
                        }
                    </div>
                    }
                </div>
                <div class="resume-row">
                    <span class="class">#Education</span> {
                    <div class="rules-wrap">
                        <div class="atr-row">
                            <span class="atr">Major</span>: &nbsp; <span class="val text">college "Komitent"</span>;
                        </div>
                        <div class="atr-row">
                            <span class="atr">Specialty</span>: &nbsp; <span class="val">The software of computers and automated systems</span>;
                        </div>
                    </div>
                    }
                </div>
                <div class="resume-row">
                    <span class="class">#ContactInfo</span> {
                    <div class="rules-wrap">
                        <div class="atr-row">
                            <span class="atr">Name</span>: &nbsp; <span class="val text">Vladimir Glushkov</span>;
                        </div>
                        <div class="atr-row">
                            <span class="atr">Age</span>: &nbsp; <span class="val num">34</span>;
                        </div>
                        <div class="atr-row">
                            <span class="atr">Tel</span>: &nbsp; <span class="class">phone</span>(<span class="url">8.906.863.50.88</span>);
                        </div>
                        <div class="atr-row">
                            <span class="atr">E-mail</span>:
                            &nbsp; <span class="val text">xhtmlblog@gmail.com</span>,
                            &nbsp; <span class="val text">fenrirheimr@gmail.com</span>;
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

