<section class="container resume" id="resume">
    <div class="columns is-centered">
        <div class="column is-hidden-mobile is-one-fifth">
            <figure class="image is-4by5 photo">
                <img src="img/photo3.jpg" />
            </figure>
        </div>
        <div class="column is-full-mobile is-half">
            <h1 class="title is-spaced has-text-centered">Привет!</h1>
            <p class="subtitle">Меня зовут Владимир Глушков и я front-end developer.<br>Мне 34 года и последние 13 лет я занимаюсь разработкой сайтов.</p>
            <p class="subtitle">Резюме можно посмотреть <a class="has-text-warning resume-link" href="#">здесь</a>,
                на <a class="has-text-warning" target="_blank" href="https://hh.ru/applicant/resumes/view?resume=f3f47071ff016f67f00039ed1f434f44666d53">hh.ru</a>
                или <a class="has-text-warning" href="/resume_glushkov.pdf" target="_blank">скачать</a>, распечатать и повесить в рамочку</p>
            <p class="subtitle">Если я вас заинтересовал со мной можно связаться<br>по телефону: <a  class="has-text-warning" href="tel:+7-906-863-5088">+7-906-863-5088</a>,<br>в скайпе: <a class="has-text-warning" href="skype:fenrirheimr?call">fenrirheimr</a><br>
                или написать мне на почту <a class="has-text-warning" href="mailto:xhtmlblog@gmail.com">xhtmlblog@gmail.com</a></p>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-full-mobile is-two-thirds-tablet is-two-thirds-desktop">
            <pre id="resume-text">
<span class="class">#Objective</span> {
  <span class="atr">Employment</span>: "<span class="val text">remote job</span>", <span class="val text">part-time</span>, <span class="val text">freelance</span>;
}

<span class="class">#Skils</span> {
  <span class="atr">Language</span>: <span class="val text">HTML</span>, <span class="val text">CSS</span>, <span class="val text">SCSS</span>, <span class="val text">HAML</span>, <span class="val text">JS</span>;
  <span class="atr">Software</span>: <span class="val text">Ubuntu Linux</span>, <span class="val text">WebStorm</span>, <span class="val text">Photoshop</span>, etc.;
  <span class="atr">Framework</span>: <span class="val text">twitter/bootstrap</span>, <span class="val text">bulma.io</span>, <span class="val text">webix</span>;
  <span class="rtag">@import</span> <span class="tq">"head/brain"</span>;
  <span class="rtag">@import</span> <span class="tq">"git"</span>;
  <span class="rtag">@import</span> <span class="tq">"modesty"</span>;
  <span class="is-muted"><span class="rtag">@in-porigress</span> <span class="tq">"vue.js"</span> (<span class="val num">15%</span>);</span>
}

<span class="class">#Work-Experience</span> {
  <span class="class">.zero</span> {
    <span class="atr">Year</span>: <span class="val num">2005-2013</span>;
    <span class="atr">Employee</span>: <span class="val text">several companies engaged in the development of sites</span>;
    <span class="atr">Position</span>: <span class="val text">content-manager</span>, <span class="val text">designer</span>, <span class="val text">xhtml/css coder</span>;
    <span class="atr">Responsibility</span>: <span class="val text">html/css coding</span>;
  }
  <span class="class">.first</span> {
    <span class="atr">Year</span>: <span class="val num">2013-2015</span>;
    <span class="atr">Employee</span>: <span class="val text">Dextra Internet Agency</span>;
    <span class="atr">Position</span>: <span class="val text">Frontend-developer</span>;
    <span class="atr">Responsibility</span>: <span class="val">development and support of frontend sites and services</span>;
  }
  <span class="class">.second</span> {
    <span class="atr">Year</span>: <span class="val num">2015-2016</span>;
    <span class="atr">Employee</span>: <span class="val text">Forin company</span>;
    <span class="atr">Position</span>: <span class="val text">Frontend-developer</span>;
    <span class="atr">Responsibility</span>: <span class="val">development and support of frontend sites, services and CRM</span>;
  }
  <span class="class">.third</span> {
    <span class="atr">Year</span>: <span class="val num">2016-2017</span>;
    <span class="atr">Employee</span>: <span class="val text">Radar Advertising</span>;
    <span class="atr">Position</span>: <span class="val text">Frontend-developer</span>;
    <span class="atr">Responsibility</span>: <span class="val">development and support of frontend sites</span>;
  }
  <span class="class">.fourth</span> {
    <span class="atr">Year</span>: <span class="val num">07.2017-12.2017</span>;
    <span class="atr">Employee</span>: <span class="val text">D-Element Internet Agency</span>;
    <span class="atr">Position</span>: <span class="val text">Frontend-developer</span>;
    <span class="atr">Responsibility</span>: <span class="val">development and support of frontend sites and services</span>;
  }
  <span class="class">.fifth</span> {
    <span class="atr">Year</span>: <span class="val num">02.2018-now</span>;
    <span class="atr">Employee</span>: <span class="val text">P&B Stratwork</span>;
    <span class="atr">Position</span>: <span class="val text">Frontend-developer</span>;
    <span class="atr">Responsibility</span>: <span class="val">development and support of frontend CRM</span>;
  }
}

<span class="class">#Education</span> {
  <span class="atr">Major</span>: <span class="val text">college "Komitent"</span>;
  <span class="atr">Specialty</span>: <span class="val">The software of computers and automated systems</span>;
}

<span class="class">#ContactInfo</span> {
  <span class="atr">Name</span>: <span class="val text">Vladimir Glushkov</span>;
  <span class="atr">Age</span>: <span class="val num">34</span>;
  <span class="atr">Tel</span>: <span class="class">phone</span>(<span class="url">8.906.863.50.88</span>);
  <span class="atr">E-mail</span>: <span class="val text">xhtmlblog@gmail.com</span>, <span class="val text">fenrirheimr@gmail.com</span>;
}
</pre>
        </div>
    </div>
</section>

