*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html {height: 100%; min-width: 1200px;}
html {height: 100%; min-width: 970px;}

body {
    font: 14px/21px Arial, Helvetica, sans-serif;
    width: 100%;
    background: #f4f4f4;
    margin-bottom: 64px;
}

.container {max-width: 1280px;}

.material-icons {vertical-align: middle;}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.header {background: #333332;}
.header .top-row {height: 64px;}
.header a:hover,
.header a:active,
.header a:focus {text-decoration: none;}

.logo {}
.logo span {color: #fff; display: inline-block; line-height: 64px; letter-spacing: 0.005em; font-size: 18px; margin-left: 11px;}
.logo span {
    color: #fff; display: inline-block; line-height: 64px; letter-spacing: 0.005em; font-size: 18px;
    margin-left: 11px;
}

.service {}
.service .user,
.service .help-link {font-size: 15px; color: #959595; display: inline-block; padding: 20px;}

.service a span {display: inline-block; line-height: 18px;}

.service .user:hover,
.service .help-link:hover {background: #3a3a39;}

.user-wrapper {display: inline-block; position: relative;}
.user-wrapper .user-menu {
    display: none; margin: 0; padding: 0; background: #fff;
    position: absolute; top: 64px; right: 40px; left: 20px;
    -moz-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
}

.user-wrapper .user-menu:before {
    display: block; position: absolute; top: -10px; left: 56px;
    width: 0; height: 0; content: ' ';
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #ffffff transparent;
}
.user-wrapper .user-menu li {list-style: none; padding: 14px 25px;}
.user-wrapper .user-menu li a {color: #000;}
.user-wrapper .user-menu li a:hover {text-decoration: none; color: #da5857;}
.user-wrapper .user-menu li.last {border-top: 1px solid #e5e5e5;}

/* Footer */

.footer {height: 64px; width: 100%; position: absolute; bottom: 0; background: #333332;}
.footer .container {line-height: 64px;}
.footer .container p {color: #959595; font-size: 15px; margin-bottom: 0;}