*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html {height: 100%; min-width: 1200px;}
html {height: 100%; min-width: 970px;}

body {
    font: 14px/21px Arial, Helvetica, sans-serif;
    width: 100%;
    background: #f4f4f4;
    margin-bottom: 64px;
}

.container {max-width: 1280px;}

.material-icons {vertical-align: middle;}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Header */

.header {background: #333332;}
.header .top-row {height: 64px;}
.header a:hover,
.header a:active,
.header a:focus {text-decoration: none;}

.logo {}
.logo img {vertical-align: top;}
.logo span {color: #fff; display: inline-block; line-height: 64px; letter-spacing: 0.005em; font-size: 18px; margin-left: 11px;}
.logo span {
    color: #fff; display: inline-block; line-height: 64px; letter-spacing: 0.005em; font-size: 18px;
    margin-left: 11px;
}

.service {}
.service .user,
.service .help-link {font-size: 15px; color: #959595; display: inline-block; padding: 20px;}

.service a span {display: inline-block; line-height: 18px;}

.service .user:hover,
.service .help-link:hover {background: #3a3a39;}

.user-wrapper {display: inline-block; position: relative;}
.user-wrapper .user-menu {
    display: none; margin: 0; padding: 0; background: #fff;
    position: absolute; top: 64px; right: 40px; left: 20px; z-index: 9;
    -moz-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
}

.user-wrapper .user-menu:before {
    display: block; position: absolute; top: -10px; left: 56px;
    width: 0; height: 0; content: ' ';
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #ffffff transparent;
}
.user-wrapper .user-menu li {list-style: none; padding: 14px 25px;}
.user-wrapper .user-menu li a {color: #000;}
.user-wrapper .user-menu li a:hover {text-decoration: none; color: #da5857;}
.user-wrapper .user-menu li.last {border-top: 1px solid #e5e5e5;}

/* Nav */

.navigation {
    background: #fff; border-bottom: 1px solid #dedddb; height: 71px;
}

.navigation ul {margin: 0; padding: 0;}
.navigation ul li {list-style: none; float: left; padding: 24px 15px; position: relative; margin-right: 10px;}
.navigation ul li a {color: #000; font-size: 16px; display: inline-block}
.navigation ul li a:hover {text-decoration: none;}
.navigation ul li.current {border-bottom: 2px solid #ff6665; padding-bottom: 23px;}
.navigation ul li sup {
    color: #fff; background: #ff6665; font-size: 16px; display: inline-block; text-align: center;
    width: 24px; height: 24px; line-height: 24px; font-family: 'Roboto', sans-serif; font-size: 12px;
    position: absolute; top: 12px; right: -10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

/* Support panel */

.cd-panel {
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: visibility 0s 0.6s;
    -moz-transition: visibility 0s 0.6s;
    transition: visibility 0s 0.6s;
    background: rgba(103,103,103, 0.5);
}
.cd-panel::after {
    /* overlay layer */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: background 0.3s 0s;
    -moz-transition: background 0.3s 0s;
    transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
    -webkit-animation: cd-close-1 0.6s 0.3s;
    -moz-animation: cd-close-1 0.6s 0.3s;
    animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
    -webkit-animation: cd-close-2 0.6s 0.3s;
    -moz-animation: cd-close-2 0.6s 0.3s;
    animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}
@-moz-keyframes cd-close-1 {
    0%, 50% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(45deg);
    }
}
@keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@-webkit-keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-45deg);
    }
}
@-moz-keyframes cd-close-2 {
    0%, 50% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(-45deg);
    }
}
@keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.cd-panel-header {
    position: fixed;
    width: 304px;
    height: 180px;
    background: #f9f9f9;
    z-index: 2;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: top 0.3s 0s;
    -moz-transition: top 0.3s 0s;
    transition: top 0.3s 0s;
}

.from-right .cd-panel-header {top: -180px; right: 0;}

.is-visible .cd-panel-header {
    top: 64px;
    -webkit-transition: top 0.3s 0.3s;
    -moz-transition: top 0.3s 0.3s;
    transition: top 0.3s 0.3s;
}

.cd-panel-close {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 20px;height: 20px;
    /* image replacement */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

}
.cd-panel-close::before, .cd-panel-close::after {content: ' '}
.cd-panel-close::before, .cd-panel-close::after {
    /* close icon created in CSS */
    position: absolute;
    top: 9px;
    left: 0;
    height: 2px;
    width: 20px;
    background-color: #aeaeae;
    /* this fixes a bug where pseudo elements are slighty off position */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-panel-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-panel-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
    -o-transform: rotate(220deg);
    transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-panel-container {
    position: fixed;
    width: 304px;
    height: 100%;
    top: 0;
    background: #fff;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.from-right .cd-panel-container {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

.cd-panel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 244px 10px 0;
    overflow: auto;
    /* smooth scrolling on touch devices */
    -webkit-overflow-scrolling: touch;
}

.cd-panel .cd-panel-header .support {padding: 52px 12px 40px 12px;}
.cd-panel .cd-panel-header .support img {margin-right: 8px;}
.cd-panel .cd-panel-header .support .contacts {padding-top: 15px;}
.cd-panel .cd-panel-header .support .contacts span {display: block; font-size: 18px; margin-bottom: 6px;}
.cd-panel .cd-panel-header .support .contacts a {margin-top: 10px; display: inline-block;}
/* Main */

/* Footer */

.footer {height: 64px; width: 100%; position: absolute; bottom: 0; background: #333332;}
.footer .container {line-height: 64px;}
.footer .container p {color: #959595; font-size: 15px; margin-bottom: 0;}