<nav class="navbar navbar-toggleable-md navbar-light bg-faded py-0">
  <button class="navbar-toggler navbar-toggler-left py-0 px-0" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
    <div class="toggle-btn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
  
  <div class="navbar-nav top-nav-mobile hidden-lg-up">
    <a class="nav-link logo align-self-center py-0" href="#"><img src="img/logo.png"></a>
  </div>
  
  <div class="collapse navbar-collapse" id="topNav">
    <ul class="navbar-nav container justify-content-between top-nav px-0">
      <li class="nav-item">
        <a class="nav-link" href="catalog.html">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Атмосфера в доме</a>
      </li>
      <li class="nav-item align-self-start hidden-md-down">
        <a class="nav-link logo" href="index.html"><img src="img/logo.png"></a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="map.html">Где купить</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="article.html">Ароматы</a>
      </li>
    </ul>
  </div>
</nav>





