<nav class="navbar navbar-toggleable-md navbar-light bg-faded py-0">
  <button class="navbar-toggler navbar-toggler-left mt-2" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-nav top-nav-mobile hidden-lg-up">
    <a class="nav-link disabled logo align-self-center py-0" href="#"><img src="img/logo.png"></a>
  </div>
    
  <div class="collapse navbar-collapse justify-content-center" id="topNav">
    <ul class="navbar-nav top-nav align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="#">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Атмосфера в доме</a>
      </li>
      <li class="nav-item align-self-start hidden-md-down">
        <a class="nav-link disabled logo" href="#"><img src="img/logo.png"></a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#">Где купить</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Ароматы</a>
      </li>
    </ul>
  </div>
</nav>





