<div id="slide-panel" class="slide-panel right">
	
	<div class="slide-panel-items"> <!-- wrapper -->
		
		<div class="slide-panel-item">
			
			<div class="row product-item">
				<div class="col col-3">
					<img src="img/product-item.png" alt="" title="">
					<a href="#" class="product-icon"><i class="icon icon-spray"></i></a>
				</div>
				<div class="col col-9">
					<h2 class="product-title">Symphony антитабак</h2>
					<div class="product-v">V &ndash; 300</div>
					<div class="product-description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					</div>
					
					<a href="#" class="link block-link">Подробнее</a>
				</div>
			</div>
		
		</div>
		
		<div class="slide-panel-item">
			
			<div class="row product-item">
				<div class="col col-3">
					<img src="img/product-item.png" alt="" title="">
					<a href="#" class="product-icon"><i class="icon icon-spray"></i></a>
				</div>
				<div class="col col-9">
					<h2 class="product-title">Symphony антитабак</h2>
					<div class="product-v">V &ndash; 300</div>
					<div class="product-description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					</div>
					
					<a href="#" class="link block-link">Подробнее</a>
				</div>
			</div>
		
		</div>
		
		<div class="slide-panel-item">
			
			<div class="row product-item">
				<div class="col col-3">
					<img src="img/product-item.png" alt="" title="">
					<a href="#" class="product-icon"><i class="icon icon-spray"></i></a>
				</div>
				<div class="col col-9">
					<h2 class="product-title">Symphony антитабак</h2>
					<div class="product-v">V &ndash; 300</div>
					<div class="product-description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					</div>
					
					<a href="#" class="link block-link">Подробнее</a>
				</div>
			</div>
		
		</div>
		
		<div class="slide-panel-item">
			
			<div class="row product-item">
				<div class="col col-3">
					<img src="img/product-item.png" alt="" title="">
					<a href="#" class="product-icon"><i class="icon icon-spray"></i></a>
				</div>
				<div class="col col-9">
					<h2 class="product-title">Symphony антитабак</h2>
					<div class="product-v">V &ndash; 300</div>
					<div class="product-description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					</div>
					
					<a href="#" class="link block-link">Подробнее</a>
				</div>
			</div>
		
		</div>
		
		<div class="slide-panel-item">
			
			<div class="row product-item">
				<div class="col col-3">
					<img src="img/product-item.png" alt="" title="">
					<a href="#" class="product-icon"><i class="icon icon-spray"></i></a>
				</div>
				<div class="col col-9">
					<h2 class="product-title">Symphony антитабак</h2>
					<div class="product-v">V &ndash; 300</div>
					<div class="product-description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					</div>
					
					<a href="#" class="link block-link">Подробнее</a>
				</div>
			</div>
		
		</div>
	
	
	</div>
	
	<div class="slide-btn align-items-center">
		<span class="slide-caption">Найди свой<br>аромат</span>
		<a href="#" class="link block-link">Подобрать аромат</a>
		<img src="img/panel-balloon.png" alt="" title="" class="balloon">
		<span class="btn-vert-text">menu</span>
	</div>

</div>